<a href="/emotion/camera">
    <button class="camera_btn btn btn-warning plr-xl-5">
        Open Your Camera
    </button>
</a>
<p> or choose your mood </p>
<form method="get" action="/mood/loading"><input type="hidden" value="happy" name="mood"> <button
        class="btn btn-info mood_btn  btn-sm" id="happy">Happy</button>
</form>
<form method="get" action="/mood/loading"><input type="hidden" value="sad" name="mood"> <button
        class="btn btn-info mood_btn  btn-sm" id="sad" value="=" sad"> Sad </button>
</form>

<form method="get" action="/mood/loading"><input type="hidden" value="calm" name="mood"> <button
        class="btn btn-info mood_btn btn-sm" id="calm">Calm </button>
</form>
<form method="get" action="/mood/loading"><input type="hidden" value="angry" name="mood"><button
        class="btn btn-info mood_btn btn-sm" id="angry">Angry </button>
</form>
<form method="get" action="/mood/loading"><input type="hidden" value="surprised" name="mood"> <button
        class="btn btn-info mood_btn btn-sm" id="surprised">Surprised </button>
</form>