<%- include ('partials/header') %>
	<script src="/javascript/break_from_previous_iframe.js"></script>
	<link rel="stylesheet" href="/css/home.css">
	<link rel="stylesheet" href="/css/shared.css">
	<title>home</title>
	</head>

	<body>
		<%- include ('partials/logo') %>
			<div class="group">
				<h2>Looking For</h2>
				<h2>Music?</h2>
				<h4>Find the music you need</h4>
				<h4>based on your mood.</h4>
				<%- include ('partials/moodOptions') %>

			</div>
	</body>

	</html>