<html>

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

		<link rel="stylesheet" href="shared.css">
		<link rel="stylesheet" href="sad.css">

	<script type="text/javascript" src="audio.js"></script>
	<script type="text/javascript" src="break_from_previous_iframe.js"></script>


	<title>home</title>
</head>

<body>
	<!-- Wikplayer https://www.wikplayer.com -->
	<script type="text/javascript" src="https://www.wikplayer.com/code.js"
		data-config="{'skin':'skins/wikfull/plainBlack/skin.css','volume':50,'autoplay':true,'shuffle':true,'repeat':1,'showcomment':false,'marqueetexton':true,'placement':'bottom','showplaylist':true,'playlist':[{'title':'hey%20there%20delilah','url':'https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DPoaT6WXUV_M'},{'title':'im%20yours','url':'https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DRILP53OR63k'}, {'title':'we%20are%20young','url':'https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DKXJNoC6CuYE'}]}"></script>
	<!-- Wikplayer code end -->


	<div class='row'>

		<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note-beamed" fill="currentColor"
			xmlns="http://www.w3.org/2000/svg">
			<path
				d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z" />
			<path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z" />
			<path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z" />
		</svg>

		<a href="/" id='lolLogo'>
			<h1 class='logo'>
				Moody
			</h1>
		</a>
	</div>



	<div class="group">



		<h3>Feeling Sad..</h3>
		<h4>Changed your mood?</h4>
		<a href="/index">
		<button class="camera_btn btn btn-dark plr-xl-5">
			Open Your Camera
		</button>
	</a>
		<p> or choose your mood </p>
		<a href="/happy"> <button class="btn btn-dark mood_btn  btn-sm" id="happy">Happy</button>
		</a>
		<a href="/sad"> <button class="btn btn-dark mood_btn  btn-sm" id="sad"> Sad </button>
		</a>
		<a href="/calm"> <button class="btn btn-dark mood_btn btn-sm" id="calm">Calm </button>
		</a>
		<a href="/angry"> <button class="btn btn-dark mood_btn btn-sm" id="angry">Angry </button>
		</a>
		<a href="/surprised"> <button class="btn btn-dark mood_btn btn-sm" id="surprised">Surprised </button>
		</a>

	</div>


</body>


</html>