svg{
	
	color: white;
	font-size: 2em;
		margin:  20px;
	margin-left:70px; 
	margin-right:0;

}
.logo{

	font-size:40px;
			margin:  10px; 

}
#lolLogo{
	    text-decoration: none;

}
body{
	
	background: url('https://images.pexels.com/photos/2106776/pexels-photo-2106776.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
background-position: top ;
	background-repeat: no-repeat;
	background-size: cover; 
}
.fas{
	color: black;
	size:100px;
}
h1{
	color: white;
	font-size: 70px;
}
h3{
    color: black;
    opacity: 0.7;
	font-size: 40px;
}

.btn{

	margin-top: 10px;
	font-size: 20px;
	border-radius: 15px;
	padding-right:40px;
		padding-left:40px; 
	padding-top:10px;
		padding-bottom:10px;



}
h4{
	color:grey
}

.group{
	margin: 70px
	
}