

body{
	
	background: url('https://images.unsplash.com/photo-1519412203450-e04051dbb778?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80');
background-position: top right;
	background-repeat: no-repeat;
	background-size: cover; 
}

h1{
	color: white;
	font-size: 45px;
}
h3{
	color:white;
	font-size: 45px;
}


h4{
	color:grey
}

.camera_btn{

	padding-right:60px;
		padding-left:60px; 

}
p{
	
color:white;
opacity: 0.4;
}

#angry, #surprised, #sad, #calm, #happy {
	background-color:#312438;
	border-color: #312438;
  
  }
  
.group{
	margin: 50px
	
}
   p:before,  p:after{ 
	color:white;
}


